// ============================================================
// Nav
// ============================================================

header
  background: url('../img/nav-bg.jpg') no-repeat center 0 fixed
  background-size: cover
  display: block
  height: 3em
  border-bottom: 1px solid #999

  -webkit-transition: background-position 2s
  transition: background-position 2s

  p
    margin: 0
    padding: 0


  ul
    list-style-type: none;
    margin: 0
    padding: 0
    height: 100%
    display: flex
    -webkit-flex-direction: row
    flex-direction: row

    li
      padding: 0
      margin: 0

      justify-content: center
      align-items: center
      width: 15%
      height: 100%

      cursor: pointer
      color: #ddd

      /* animation fx */

      background: url('static/img/button-1.jpg') no-repeat 100em 3em fixed
      transition: background-position .4s

      &:hover
        background-position: 0 0


      span
        text-align: center
        width: 100%

  .end
    background: url('static/img/nav-bg.jpg') no-repeat center -59em fixed


  .white-characters
    color: #fff

    font-family: 'courier'

    position: absolute
    bottom: 0
    right: 3em
    line-height: 13px

    &:hover
      line-height: 25px